<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置为第一个，引入环境变量 -->
	<bean id="webEnv" class="com.hcb168.slowdfs.web.util.WebEnvironment" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
		<property name="url"
			value="jdbc:derby:#{webEnv.webInfPath}/myfiledb;create=true" />
		<property name="username" value="appuser" />
		<property name="password" value="app123user!@#" />
		<property name="maxActive" value="32" />
		<property name="maxIdle" value="16" />
		<property name="defaultAutoCommit" value="true" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>